body {
    margin: 0px;
    font-size: 10px;
}

.product {
    margin: 100px auto;
    width: 1450px;
    height: 420px;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-box {
    display: inline-block;
    position: relative;
    box-shadow: 1px 1px 2px gray;
    border: 0.5px solid rgb(175, 171, 171);
    border-radius: 3px;
    width: 23%;
    box-sizing: border-box;
    height: 100%;
    margin-right: 15px;
    padding-left: 15px;
}

.product>i {
    position: absolute;
    z-index: 1;
    font-size: 3em;
    top: 45%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: green;
    color: white;
    align-content: center;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 5px;
}

.product>i:first-child {
    left: -20px;
}

.product>i:last-child {
    right: 30px;
}

.product-box i {
    position: absolute;
    font-size: 2.5em;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    top: 10px;
    box-sizing: border-box;
    left: 10px;
    padding-left: 2px;
    padding-top: 2px;
}

.product-box span {
    position: absolute;
    font-size: 1.5em;
    background-color: darkolivegreen;
    width: 100px;
    height: 25px;
    padding: 3px 25px;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    right: -8px;
    top: 10px;
}

.product-box img {
    margin-top: 85px;
    margin-left: 65px;
    margin-bottom: 80px;
}

.product-box p {
    font-size: 15px;
    background-color: red;
    color: white;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 150px;
    align-items: center;
    justify-content: center;
}

.product-box h2 {
    text-decoration: line-through;
}

.product-box h1:first-child {
    margin-top: 30px;
}

.product-box a {
    text-decoration: none;
    background-color: green;
    color: white;
    font-size: 15px;
    width: 110px;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    box-sizing: border-box;
    right: 10px;
    bottom: 10px;
    padding-top: 10px;
    padding-left: 45px;
}

.product-box a i {
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: none;
    margin-left: 0px;
    justify-content: center;
    text-align: center;
}

.product-box h4 {
    color: darkgray
}