/* Aktual layihədə daimi təkrarlanan xüsusiyyətlərin toplusu */


/* Flex classes */

.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}


/* spacing */


/*  */

.p-1 {
    padding: 5px;
}

.p-2 {
    padding: 10px;
}

.p-3 {
    padding: 15px;
}

.p-4 {
    padding: 20px;
}

.p-5 {
    padding: 25px;
}


/* horizontal padding */

.px-1 {
    padding: 0px 5px;
}

.px-2 {
    padding: 0px 10px;
}

.px-3 {
    padding: 0px 15px;
}

.px-4 {
    padding: 0px 20px;
}

.px-5 {
    padding: 0px 25px;
}


/* vertical padding */

.py-1 {
    padding: 5px 0px;
}

.py-2 {
    padding: 10px 0px;
}

.py-3 {
    padding: 15px 0px;
}

.py-4 {
    padding: 20px 0px;
}

.py-5 {
    padding: 25px 0px;
}